header{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    background-color: burlywood;
}

.imagem{
    background-color: blue;
    color: aliceblue;
}

nav {
    background-color: chocolate;
    display: flex;
    gap: 10px;
    justify-content: center;
}

a {
    background-color: beige;
}

section {
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

section div{
    background-color: lightsalmon;
    margin: 10px;
    text-align: center;
}

#d1{
    order: 2;
    flex-grow: 2;
}

#d2{
    order: 1;
    flex-grow: 1;
}

#d3{
    order: 3;
    flex-grow: 4;
}