div{
    margin:20px;
    padding: 20px;
    width: 20px;
    height: 20px;
}

.bg_azul {background-color: lightblue;}
.bg_verde{background-color: aquamarine;}
.bg_vermelho{background-color: red;}

.b_solida {border: 5px solid black}
.b_pontilhado{border: 5px dotted black}
.b_tracejado{border:5px dashed black}
.b_dupla{border:5px double black}

.arredondado{border-radius: 50px;}
.sombra{box-shadow: 10px 10px 5px gray;}

#p1{display: inline;}
#a1{display: block;}

#d1{
    position: absolute;
    top: 20px;
    left: 50px;
    right: 100px;
}

#d2{
    position: relative;
    top: 50px;
    left: 120px;
}

#d3 {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}